td {
	text-align: center;
}

th {
	text-align: center;
}

#header {
	background-color: #630;
}

#header a {
	color: #FF0;
}

.sub-menu {
	background-color: #FF9;
}

.sub-menu a {
	color: #8D6334
}

.sub-menu a:hover{
	background-color: #8D6334 !important;
	color: #FF9;
	text-decoration: none;	
}

.img-border img {
	border-width: 10px !important;
    border-color: #000 !important;
}

.image-preview-card {
	height: 70px;
}

.image-preview-card img {
	max-height: 100%;
	max-width: 60%;
}

td, th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    padding-top: 11px;
    padding-bottom: 11px;
    background-color: #4CAF50;
    color: white;
}

input {
	width: 50px;
}

footer {
    position:fixed;
    width:100%;
    bottom:0;
}